.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.calculate-btn { 
    padding: 25px 0 0px 0;
    text-align: center;
}

.google-ads {
    padding: 75px 0 25px 0;
    text-align: center;
}

.results-table {
    padding: 50px 0 50px 0;
    text-align: center;
}

.title {
    padding: 0px 0 50px 0;
}

a.table-links {
    color: #000;
}

.responsive-ad {
    width: 200px;
    height: 60px;
    margin: 0 auto; float: none; display: block; text-align:center;
}

@media(min-width: 500px) {
    .responsive-ad {
        width: 468px;
        height: 60px;
    }
}

@media(min-width: 800px) {
    .responsive-ad {
        width: 728px;
        height: 90px;
    }
}