<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Confusion Matrix - Online Calculator</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/custom-style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics tracking code -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-74193373-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="cmApp" ng-controller="mainController">
    <!--<div ng-controller="mainController">-->
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Confusion Matrix</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#example">Example</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#measures">Measures</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Title -->
                    <h1 class="title">
                        Confusion Matrix
                        <br>
                        <small>Online Calculator</small>
                    </h1>

                    <!-- Confusion Matrix table -->
                    <div class="confusionMatrix">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">

                                <table class="table table-borderless text-center">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td class="col-xs-4">
                                                <strong> Actual Positive </strong>
                                            </td>
                                            <td class="col-xs-4">
                                                <strong> Actual Negative </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4">
                                                <strong> Predicted Positive </strong>
                                            </td>
                                            <td class="col-xs-4">
                                                <div class="has-success">
                                                    <label class="sr-only" for="TruePositive"></label>
                                                    <input type="number" class="form-control text-center" placeholder="True Positive" ng-model="data.TP" ng-change="update()">
                                                </div>
                                            </td>
                                            <td class="col-xs-4">
                                                <div class="has-warning">
                                                    <label class="sr-only" for="FalsePositive"></label>
                                                    <input type="number" class="form-control text-center" placeholder="False Positive" ng-model="data.FP" ng-change="update()">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4">
                                                <strong> Predicted Negative </strong>
                                            </td>
                                            <td class="col-xs-4">
                                                <div class="has-warning">
                                                    <label class="sr-only" for="FalseNegative"></label>
                                                    <input type="number" class="form-control text-center" placeholder="False Negative" ng-model="data.FN" ng-change="update()">
                                                </div>
                                            </td>
                                            <td class="col-xs-4">
                                                <div class="has-success">
                                                    <label class="sr-only" for="TrueNegative"></label>
                                                    <input type="number" class="form-control text-center" placeholder="True Negative" ng-model="data.TN" ng-change="update()">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- Calculate button -->
                    <div class="calculate-btn">
                        <a class="btn btn-default btn-lg page-scroll" href="#ads">Calculate</a>
                    </div>

                    <!-- Google Ads -->
                    <div id="ads" class="google-ads">
                        <div class="text-center">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- ConfusionMatrix main responsive banner -->
                            <ins class="adsbygoogle responsive-ad"
                                 style="display:block"
                                 data-ad-client="ca-pub-4170525968789144"
                                 data-ad-slot="2689873110"
                                 data-ad-format="auto"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>

                    <!-- Results table -->
                    <div id="results" class="results-table">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-xs-4 text-center">Measure</th>
                                    <th class="col-xs-4 text-center">Value</th>
                                    <th class="col-xs-4 text-center">Derivations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="metric" ng-repeat="metric in metrics" title={{metric.longName}}>
                                    <td><a class="table-links" href=" #measures" table-scroll><strong> {{metric.name}} </strong></a></td>
                                    <td> {{metric.value | number:4 }}</td>
                                    <!-- <td> {{(metric.value | number:4)*1 || 'NaN' }}</td> -->
                                    <td> {{metric.derivation}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">About</h1>
                    <div class="col-sm-8 col-sm-offset-2 text-justify">
                        <p>
                            A <b>Confusion Matrix</b> is a popular representation of the performance of
                            classification models. The matrix (table) shows us the number of correctly
                            and incorrectly classified examples, compared to the actual outcomes
                            (target value) in the test data. One of the advantages of using confusion
                            matrix as <b>evaluation tool</b> is that it allows more <b>detailed analysis</b>
                            (such as if the model is confusing two classes), than simple proportion
                            of correctly classified examples (accuracy) which can give misleading
                            results if the dataset is unbalanced (i.e.  when there are huge differences
                            in number of between difference classes).
                        </p>
                        <p>
                            The matrix is <i>n by n</i>, where n is the number of classes. The simplest
                            classifiers, called <b>binary classifiers</b>, has only two classes:
                            <i>positive/negative</i>, <i>yes/no</i>, <i>male/female</i>…
                            Performance of a binary classifier is summarized in a confusion matrix
                            that cross-tabulates predicted and observed examples into four options:
                            <ul>
                                <li>
                                    <b>True Positive (TP):</b> Correctly predicting a label
                                    (we predicted “yes”, and it’s “yes”),
                                </li>
                                <li>
                                    <b>True Negative (TN):</b> Correctly predicting the other label
                                    (we predicted “no”, and it’s “no”),
                                </li>
                                <li>
                                    <b>False Positive (FP):</b> Falsely Predicting a label
                                    (we predicted “yes”, but it's “no”),
                                </li>
                                <li>
                                    <b>False Negative (FN):</b> Missing and incoming label
                                    (we predicted “no”, but it’s “yes”).
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Example Section -->
    <section id="example" class="example-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">
                        Example
                        <br>
                        <small><i>Evaluating Spam Classifier</i></small>
                    </h1>
                    <!--<h2><small><i>Evaluating Spam Classifier</i></small></h2>-->
                    <div class="col-sm-8 col-sm-offset-2 text-justify">
                        <!--<h4><b>Example: </b><i>Evaluating Spam Classifier</i></h4>-->
                        <p>
                            How can we use those metrics and what we can read from the
                            confusion matrix?  For instance, let's consider a classical
                            problem of <b>predicting spam and non-spam email</b>, by using binary
                            classification model.  Our dataset consists of 50 emails that
                            are Spam, and 105 emails that are Not Spam.  In order to evaluate
                            the performance of our developed model, which labels emails as
                            Spam or Not Spam, we can use confusion matrix, where the outcome
                            is formulated in a 2×2 <b>contingency table</b> or a <b>confusion matrix</b>
                            (link to confusion matrix with data):
                        </p>
                        <p>
                            What can we read from the confusion matrix?
                            <ul>
                                <li>
                                    Altogether, the classifier made <b>155 predictions</b>
                                    (155 emails were classified in Spar or Non-Spam class)
                                </li>
                                <li>
                                    Out of 165 emails, 60 of them were labeled as Spam, and
                                    95 as Non-Spam
                                </li>
                                <li>
                                    Further, we can observe that 9 of them was <b>falsely predicted</b>
                                    as Spam (False Positive), but only one of them was <b>
                                        falsely
                                        predicted
                                    </b> as Non-Spam (False Negative),
                                </li>
                                <li>
                                    Conservative or Liberal?
                                </li>
                                <li>
                                    By computing <a class="page-scroll table-links" href=" #measures">
                                        <b>additional measures</b>
                                    </a> (also called rates) from
                                    the classification matrix, we can get additional insight
                                    about our model (link to our metrics).
                                </li>
                            </ul>
                        </p>
                        <!-- Example button -->
                        <div class="example-btn">
                            <a class="btn btn-default btn-lg page-scroll" href="#intro" ng-click="setExample()">Try it out!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Measures Section -->
    <section id="measures" class="measures-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">Measures</h1>
                    <div ng-repeat="metric in metrics">
                        <b>{{metric.name}}</b>
                        <br>
                        {{metric.longName}}
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">Contact</h1>
                    <div class="col-sm-8 col-sm-offset-2">
                        <aside>
                            <p>
                                If you have any question, suggestion or feedback,
                                we would <em>love</em> to hear from you!
                            </p>
                            <p>
                                Please use the <em>contact form</em>
                                bellow to send us a message.
                            </p>
                            <br>
                        </aside>

                        <!-- Contact form -->
                        <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbxcUnULfvFw21JKO6INqXRdHbKrAeQafk_ZYnmp6H4W-FHgB6c/exec">

                            <div class="row">
                                <!-- Name input -->
                                <fieldset class="form-group col-sm-6">
                                    <label for="name" class="h4">Name: </label>
                                    <input id="name" name="name" class="form-control" placeholder="First & Last Name" />
                                </fieldset>

                                <!-- Email input -->
                                <fieldset class="form-group col-sm-6">
                                    <label for="email" class="h4"><em>Your</em> Email Address:</label>
                                    <input id="email" name="email" type="email" value="" class="form-control"
                                           required placeholder="your.name@email.com" />
                                    <span id="email-invalid" style="visibility:hidden">
                                        Must be a valid email address
                                    </span>
                                </fieldset>
                            </div>

                            <!-- Text input -->
                            <fieldset class="form-group">
                                <textarea id="message" name="message" rows="10" class="form-control"
                                          placeholder="Your question or comments..."></textarea>
                            </fieldset>

                            <!-- Submit button -->
                            <button class="btn btn-default btn-lg">
                                Send
                            </button>

                        </form>

                        <!-- Customise the Thankyou Message People See when they submit the form: -->
                        <div style="display:none;" id="thankyou_message">
                            <h2>
                                <em>Thanks</em> for contacting us!
                                <br>We will get back to you soon!
                            </h2>
                        </div>

                        <!-- Submit the Form to Google Using "AJAX" -->
                        <script data-cfasync="false" type="text/javascript" src="js/form-submission-handler.js"></script>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

    <!-- AngularJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="js/cmApp.js"></script>

    <!-- Confusion Matrix -->
    <script src="js/metrics.js"></script>

    <!-- </div> -->
</body>



</html>
