<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Confusion Matrix - Online Calculator</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/custom-style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics tracking code -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-74193373-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="cmApp">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Confusion Matrix</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#measures">Measures</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container" ng-controller="mainController">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Title -->
                    <h1 class="title">
                        Confusion Matrix
                        <br>
                        <small>Online Calculator</small>
                    </h1>

                    <!-- Confusion Matrix table -->
                    <div class="confusionMatrix">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">

                                <table class="table table-borderless text-center">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td class="col-xs-4">
                                                <strong> Actual Positive </strong>
                                            </td>
                                            <td class="col-xs-4">
                                                <strong> Actual Negative </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4">
                                                <strong> Predicted Positive </strong>
                                            </td>
                                            <td class="col-xs-4">
                                                <div class="has-success">
                                                    <label class="sr-only" for="TruePositive"></label>
                                                    <input type="number" class="form-control text-center" placeholder="True Positive" ng-model="data.TP" ng-change="update()">
                                                </div>
                                            </td>
                                            <td class="col-xs-4">
                                                <div class="has-warning">
                                                    <label class="sr-only" for="FalsePositive"></label>
                                                    <input type="number" class="form-control text-center" placeholder="False Positive" ng-model="data.FP" ng-change="update()">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4">
                                                <strong> Predicted Negative </strong>
                                            </td>
                                            <td class="col-xs-4">
                                                <div class="has-warning">
                                                    <label class="sr-only" for="FalseNegative"></label>
                                                    <input type="number" class="form-control text-center" placeholder="False Negative" ng-model="data.FN" ng-change="update()">
                                                </div>
                                            </td>
                                            <td class="col-xs-4">
                                                <div class="has-success">
                                                    <label class="sr-only" for="TrueNegative"></label>
                                                    <input type="number" class="form-control text-center" placeholder="True Negative" ng-model="data.TN" ng-change="update()">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- Calculate button -->
                    <div class="calculate-btn">
                        <a class="btn btn-default btn-lg page-scroll" href="#ads">Calculate</a>
                    </div>

                    <!-- Google Ads -->
                    <div id="ads" class="google-ads">
                        <div class="text-center">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- ConfusionMatrix main responsive banner -->
                            <ins class="adsbygoogle responsive-ad"
                                    style="display:block"
                                    data-ad-client="ca-pub-4170525968789144"
                                    data-ad-slot="2689873110"
                                    data-ad-format="auto"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>

                    <!-- Results table -->
                    <div id="results" class="results-table">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-xs-4 text-center">Measure</th>
                                    <th class="col-xs-4 text-center">Value</th>
                                    <th class="col-xs-4 text-center">Derivations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="metric" ng-repeat="metric in metrics" title={{metric.longName}}>
                                    <td><a class="table-links" href=" #measures" table-scroll><strong> {{metric.name}} </strong></a></td>
                                    <td> {{metric.value | number:4 }}</td>
                                    <!-- <td> {{(metric.value | number:4)*1 || 'NaN' }}</td> -->
                                    <td> {{metric.derivation}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Measures Section -->
    <section id="measures" class="measures-section">
        <div class="container" ng-controller="mainController">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">Measures Section</h1>
                    <div ng-repeat="metric in metrics">
                        <b>{{metric.name}}</b> 
                        <br>
                        {{metric.longName}}
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">Contact Section</h1>
                    <div class="col-sm-8 col-sm-offset-2">
                        <aside>
                            <p>
                                If you have any question, suggestion or feedback, 
                                we would <em>love</em> to hear from you!
                            </p>
                            <p>
                                Please use the <em>contact form</em>
                                bellow to send us a message.
                            </p>
                            <br>
                        </aside>

                        <!-- Contact form -->
                        <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbxcUnULfvFw21JKO6INqXRdHbKrAeQafk_ZYnmp6H4W-FHgB6c/exec">
                            
                            <div class="row">
                                <!-- Name input -->
                                <fieldset class="form-group col-sm-6">
                                    <label for="name" class="h4">Name: </label>
                                    <input id="name" name="name" class="form-control" placeholder="First & Last Name" />
                                </fieldset>

                                <!-- Email input -->
                                <fieldset class="form-group col-sm-6">
                                    <label for="email" class="h4"><em>Your</em> Email Address:</label>
                                    <input id="email" name="email" type="email" value="" class="form-control"
                                           required placeholder="your.name@email.com" />
                                    <span id="email-invalid" style="visibility:hidden">
                                        Must be a valid email address
                                    </span>
                                </fieldset>
                            </div>
                                
                            <!-- Text input -->
                            <fieldset class="form-group">
                                <textarea id="message" name="message" rows="10" class="form-control"
                                          placeholder="Your question or comments..."></textarea>
                            </fieldset>

                            <!-- Submit button -->
                            <button class="btn btn-default btn-lg">
                                Send
                            </button>

                        </form>

                        <!-- Customise the Thankyou Message People See when they submit the form: -->
                        <div style="display:none;" id="thankyou_message">
                            <h2>
                                <em>Thanks</em> for contacting us!
                                <br>We will get back to you soon!
                            </h2>
                        </div>

                        <!-- Submit the Form to Google Using "AJAX" -->
                        <script data-cfasync="false" type="text/javascript" src="js/form-submission-handler.js"></script>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

    <!-- AngularJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="js/cmApp.js"></script>

    <!-- Confusion Matrix -->
    <script src="js/metrics.js"></script>

</body>

</html>
